.formRoot {
  padding: var(--pixel16);
  padding-top: var(--pixel0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--pixel32);
}
.submitBtn {
  width: 100%;
}
.input {
  padding-top: var(--pixel8);
}
.actionBtnDiv {
  margin-top: var(--pixel32);
  width: 100%;
}
.linkText {
  margin-bottom: var(--pixel8) !important;
  margin-top: var(--pixel16) !important;
  padding: var(--pixel0) !important;
}
